*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 200px;
}
#main-ctn{
    width: 100vw;
    min-height: 150vh;
    overflow-x: hidden;
}

#navbar{
    width: 100vw;
    height: 70px;
    background-color:#ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    list-style: none;
}
.item{
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 0.8;
    color: #1e1e1e;
    cursor: pointer;
}
.icon{
    width: 50px;
    height: 50px;
}
.active{
    color: #1e1e1e;
    font-weight: 500;
    border-bottom: 3px solid #1e3932;
    padding: 5px;
}


.right{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.input_bar{
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 14px;
    border-radius: 18px;
    gap: 10px;
}
.input_field{
    border: none;
    padding: 8px;
}
.input_field:focus{
    outline: none;
}
.profile_icon{
    width: 40px;
    height:40px;
    cursor: pointer;
}

.search_icon{
    width: 30px;
    height: 30px;
}

.input_bar:hover{
    border: 1px solid #1e1e1e;
}


#secondary-navbar{
    width: 100vw;
    height: 95px;
    background-color: #1e3932;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 70px;
}

.heading{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1.4px;
    font-weight: 300;
}

#btn{
    padding:10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    width: 100px;
}

#handcrafted-curations{
    width: 100vw;
    height: 220px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.know-more{
    width: 180px;
    padding: 10px;
    background-color: #00754a;
    border: 1px solid #1e1e1e;
    color: white;
    cursor: pointer;
    border-radius: 12px;
}
.nav-bar{
    width: 100vw;
    height: 75px;
    background-color: #77807d;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    color: rgb(255, 254, 254);
    
}
#barista-h{
    width: 100vw;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.br-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.card{
    width: 400px;
    height: 190px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px solid #1e1e1e;
    gap: 10px;
}
.item-img1{
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.img-holder1{
    width: 100%;
    height: 80%;
    padding-top: 4%;
    padding-left: 4%;
   
}
.card-h{
    margin-top: -100px;
    margin-left:110px;    
}
.card-p{
    margin-top:10px;
    margin-left: 110px;
    font-size: 8px;
}
.b-price1{
    margin-top: 40px;
    margin-left: 10px;
}
.b-btn{
    height: 27px;
    width: 100px;
    margin-top:-10px;
    margin-left:250px;
    border-radius: 30px;
    background-color: #00754a;
    color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card1{
    width: 80%;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #1e1e1e;
    margin-top: 20px;
}
.item-img12{
    width: 100%;
    height: 300px;
    border-radius: 12px;
}
.img-holder12{
    width: 100%;
    height: 80%;
}
